.VaultsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 48.78px;
}

.Vaults {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    margin: 79px auto;
    width: 100%;
    padding: 0 40px;
}

.Vaults-header {
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    align-items: center;
    justify-content: space-between;
}

.Vaults-native {
    margin-top: 62px;
}

.Vaults-header-left {
    display: flex;
}

.Vaults-header-left p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #FFFFFF;
}

.Vaults-header-left span {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #77838F;
}

.Vaults-header-right {
    display: flex;
    width: 188px;
    height: 46px;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.Vaults-header-right button{
    background: linear-gradient(180deg, #1C1C1C 0%, #1A1A1A 100%);
    border-radius: 12px;
    width: 88px;
    height: 37px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}
.Vaults-header-right button:hover{
    border: 2px solid rgb(119, 58, 199);
    background: white;
    color: #0E0E0E;
}

.Vaults-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-top: 101px;
}

.Vaults-list-item {
    width: 379px;
    height: 204px;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 50px;
    display: flex;
    position: relative;
}

.Vaults-list-item_img {
    position: absolute;
}

.Vaults-list-item_img .img-big {
    position: absolute;
    width: 127px;
    height: 125px;
    left: 126px;
    top: -69px;
}

.img-small {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 215px;
    top: 22px;
}

.Vaults-list-item_title {
    display: flex;
    align-items: center;
    /* background-color: white; */
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

.Vaults-list-item_title__left {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.Vaults-list-item_title__left p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #77838F;
}

.Vaults-list-item_title__left h2 {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 4px 0 22px 0;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Vaults-list-item_title__left span {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}


.Vaults-list-item_title__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 35px;
}

.Vaults-list-item_title__right p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #77838F;
}

.Vaults-list-item_title__right h2 {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 4px 0 22px 0;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Vaults-list-item_title__right span {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}